<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082579550088-oti7e4as6q83kg7sklaut5slh7ou82lt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082579550088-oti7e4as6q83kg7sklaut5slh7ou82lt</string>
	<key>API_KEY</key>
	<string>AIzaSyAXhcftjAP9JeJdj-VnfRlKNZbEyTMjTmA</string>
	<key>GCM_SENDER_ID</key>
	<string>1082579550088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IichiroKawashima.BookMemo</string>
	<key>PROJECT_ID</key>
	<string>bookmemo-d5e18</string>
	<key>STORAGE_BUCKET</key>
	<string>bookmemo-d5e18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082579550088:ios:8b09da886f9106267c043d</string>
	<key>DATABASE_URL</key>
	<string>https://bookmemo-d5e18.firebaseio.com</string>
</dict>
</plist>